:root {
  --primary-color: #b518e6;
  --secondary-color: #ca480c;
  --base: #fff;
}

* {
  color: var(--base);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: montserrat;
  font-weight: 300;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
}

.navigation {
  z-index: 10;
  background-color: var(--primary-color);
  width: 100%;
  height: 120px;
  transition: all .3s ease-in-out;
  position: fixed;
  box-shadow: 0 0 10px 2px #00000098;
}

.navigation.active {
  height: 80px;
  transition: all .3s ease-in-out;
}

.navigation a {
  color: #000;
  font-weight: 200;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

.navigation a:hover {
  color: var(--secondary-color);
  font-weight: 600;
  transition: all .4s ease-in-out;
}

.wrap-nav {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.social-list {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  margin-inline: 30px;
  display: flex;
}

.social-list a {
  color: var(--base);
  outline: none;
  text-decoration: none;
}

.social-list img {
  height: 36px;
  transition: all .3s ease-in-out;
}

.social-list img:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.2);
}

.logo {
  height: 80px;
  transition: all .3s ease-in-out;
}

.list-nav {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  margin-inline: 30px;
  display: flex;
}

.list-nav a {
  color: var(--base);
  outline: none;
  text-decoration: none;
}

.container-one {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: all .3s ease-in-out;
  display: flex;
  overflow: hidden;
}

.carousel {
  height: 100vh;
}

.carousel img {
  object-fit: cover;
  width: auto;
  height: 100vh;
}

.carousel-caption {
  background-color: #000000b3;
  border-radius: 10px;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  bottom: 150px;
  transform: translateY(-50px);
}

.carousel-caption h5 {
  text-shadow: 2px 2px 4px #00000080;
  margin-bottom: 15px;
  font-weight: 600;
}

.carousel-caption p {
  text-shadow: 1px 1px 2px #00000080;
  margin-bottom: 0;
  font-weight: 400;
}

.container-two {
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center !important;
}

.embebed {
  aspect-ratio: 9 / 16;
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.embebed iframe {
  width: 100%;
  height: 100%;
}

.container-three div {
  margin: 0;
  padding: 0;
}

.container-three img {
  width: 100%;
  transition: all .3s ease-in-out;
}

.container-three img:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.04);
}

.gallery h2 {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 30px;
  display: flex;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
  padding: 60px 20px 20px;
  display: flex;
}

.footer-container {
  justify-content: space-between;
  gap: 80px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 40px;
  display: flex;
}

.footer-column {
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  display: flex;
}

.footer-logo {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.footer-column h3 {
  color: var(--secondary-color);
  text-align: left;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
}

.contact-info, .social-links {
  flex-direction: column;
  gap: 20px;
  width: 100%;
  display: flex;
}

.contact-info p, .social-links p {
  color: #fff;
  align-items: center;
  gap: 15px;
  margin: 0;
  font-size: 16px;
  display: flex;
}

.icon {
  object-fit: contain;
  width: 20px;
  height: 20px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ffffff1a;
  width: 100%;
  padding-top: 20px;
}

.footer-bottom p {
  color: #fff;
  margin: 0;
  font-size: 14px;
}

.Autores {
  color: var(--secondary-color);
  text-decoration: none;
}

.logowps {
  z-index: 100;
  width: 70px;
  height: 70px;
  transition: all .3s ease-in-out;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.logowps:hover {
  cursor: pointer;
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.scrolled {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 10px #0000001a;
}

.abrir, .cerrar {
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 200px;
  display: none;
}

.aboutus {
  background-color: var(--primary-color);
  background-image: linear-gradient(#121212, #121212b3), url("aboutus.bc6c85bd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  font-size: 20px;
  display: flex;
}

.aboutus h2 {
  color: var(--secondary-color);
  font-weight: 600;
}

.aboutus p {
  text-align: justify;
}

@media (width <= 768px) {
  .list-nav {
    visibility: hidden;
    background-color: var(--primary-color);
    flex-direction: column;
    width: 100%;
    height: 0;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 120px;
    overflow: hidden;
  }

  .list-nav.visible {
    visibility: visible;
    height: 200px;
    transition: all .3s ease-in-out;
  }

  .list-nav.active {
    top: 80px;
  }

  .social-list {
    gap: 1rem;
    transition: all .3s ease-in-out;
  }

  .logo, .navigation {
    transition: all .3s ease-in-out;
  }

  .abrir {
    width: 50px;
    height: 50px;
  }

  .abrir.visible {
    display: block;
  }

  .cerrar {
    width: 50px;
    height: 50px;
  }

  .cerrar.visible {
    display: block;
  }

  .carousel-caption {
    background-color: var(--primary-color);
    border-radius: 0;
    max-width: 100%;
    padding: 15px;
    position: relative;
    bottom: 0;
    transform: none;
    display: block !important;
  }

  .carousel-indicators {
    bottom: 20px;
  }

  .carousel-caption h5 {
    font-size: 1.5rem !important;
  }

  .carousel-caption p {
    font-size: 1rem !important;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-column {
    text-align: center;
    align-items: center;
  }

  .footer-column h3 {
    text-align: center;
  }

  .contact-info p, .social-links p {
    justify-content: center;
  }
}

.contact-form {
  text-align: center;
  background: #1b1b1b;
  border-radius: 8px;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 4px 10px #faf6f61a;
}

.contact-form h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.contact-form label {
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
  display: block;
}

.contact-form input, .contact-form textarea {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}

.contact-form button {
  color: #fff;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  font-size: 1rem;
}

.contact-form button:hover {
  background-color: #0056b3;
}
/*# sourceMappingURL=main.css.map */
