/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    /* Fondo claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}

/* Título */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    /* Texto oscuro */
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    /* Texto oscuro */
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    padding: 10px;
    background-color: #007bff;
    /* Azul primario */
    color: #fff;
    /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
    /* Azul más oscuro */
}

/* Enlaces */
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    /* Azul primario */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Botón para volver al inicio */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    /* Asegurar que el botón sea un bloque */
    margin-left: auto;
    /* Centrar horizontalmente */
    margin-right: auto;
    /* Centrar horizontalmente */
}


button:hover {
    background-color: #0056b3;
    /* Azul más oscuro */
}