:root {
    --primary-color: #181818;
    --secondary-color: #00FFCE;
    --base: #ffffff;
}
*{

    padding: 0%;
    margin: 0%;
    font-family: montserrat;
}
body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-form{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 350px;
    width: 600px;
    border-radius: 20px;
    background-color: #181818;
    box-shadow: 0px 0px 10px 2px #00000098;
}
.half{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-image: url('/Assets/Imgs/photos/carrusel_1-min.jpg');
    background-size: cover;

}
.half button{
    position: relative;
    top: 50px;
    left: 50px;
    background-color: #00FFCE;
    color: var(--primary-color);
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 300ms ease-in-out;
}
.half button:hover{
    background-color: #181818;
    color: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.wrap-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
    height: 300px;
    width: 300px;
    padding: 30px;
    border-radius: 40px;
}
.text-login{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.login-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    margin-bottom: 20px;
}
.email{
    background-color: #ffffff;
    padding-inline: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
    border-radius: 5px;
}
.email label[for="username"] {
    color: var(--primary-color);
    font-size: 10px;
    font-weight: 600;
}
.wrap-form label[for="password"] {
    color: aqua;
    font-size: 10px;
    
}
.email input[type="text"]{
    height: 25px;
    font-size: 10px;
    
    border: none;
    width: 100%;
}
.email input[type="text"]:focus{
    outline: none; /* Sin contorno */
    background: none; /* Sin fondo */
}
.password{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    background-color: #ffffff;
    padding-inline: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
    border-radius: 5px;
    margin-block: 6px;
}

.password input[type="password"]{
    height: 25px;
    font-size: 10px;
    border: none;
    width: 100%;
}
.password input[type="password"]:focus{
    outline: none; /* Sin contorno */
    background: none; /* Sin fondo */
}
.wrap-form input[type="password"]{
    height: 30px;
    margin-block: 4px;
    border: none;
}


